
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

/* banner - search bar */
.title-container {
    background-color: rgb(234, 237, 240);
    border-bottom: 1px solid rgb(194, 191, 191);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.colleges h1 {
    text-align: center;
}

.college-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    flex: none;
    width: 300px;
    height: 40px;
    font-size: 0.9rem;
}

.search-btn {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    z-index: 1;
}

.search-btn:hover {
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

@media(min-width: 767px) {
    .search-input {
        flex: 1;
        max-width: 700px;
        min-width: 150px;
    }

}

/* .college container  */
.colleges-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.college {
    margin-top: 2rem;
    border: 1px solid rgb(148, 146, 146);
    padding: 1.5rem;
    width: 80%;
    border-radius: 0.2rem;
}

.college details:hover {
    cursor: pointer;
}

.college details ul {
    list-style: none;
}

.society-link {
    margin-bottom: 1rem;
}

.society-link a {
    color: black;
    text-decoration: none;
}

.society-link a:hover {
    cursor: pointer;
    text-decoration: underline;
}