* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.society-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 4px solid rgb(243, 241, 241);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* border-top: 50px solid rgb(188, 207, 212); */
    padding: 4rem 2rem;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.blank {
    /* width: 100%; */
    height: 35px;
    background-color: rgb(183, 212, 234);
    position: absolute;
    top: -4px;
    right: -4px;
    left: -4px;
    border-radius: 10px 10px 0 0;

}

.society-container img {
    width: 200px;
}

.society-infor p span {
    font-weight: bold;
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    .society-container {
        flex-direction: row;
        gap: 3rem;
}
}

@media (min-width: 950px) {
    .society-container {
    width: 70%;
    }
}